@inherits Quorum.QuorumRazorViewBase
@using System.Security.Principal
@using System.Security.Claims
@using System.Linq
@using Quorum

@{
    Layout = "master.cshtml";
}

@Html.Partial("breadcrumbs", Model)

<div class="container">
    <ul class="list-group board-group">
        <li class="list-group-item">
            <h3>@Model.Board.Name</h3>
            <h5>@Model.Board.Description</h5>
        </li>

        @foreach (var board in Model.Boards)
        {
            <li class="list-group-item"><a href="/@(board.Shorthand ?? "boards/" + board.Id.ToString())">@board.Name</a></li>
        }

        @foreach (var thread in Model.Threads)
        {
            <li class="list-group-item"><a href="/threads/@thread.Id">@thread.Title</a></li>
        }
    </ul>
</div>

@section Head {
    <style>
        .board-group {
            margin-bottom: 2em;
        }

        .breadcrumb {
            margin-top: 1em;
        }
    </style>

    }
@section ManualContent {}
@section Scripts {}